<mat-card *ngIf="stockDetails" class="detailCard">
    <!-- <mat-card-title>
        <div fxLayout="row">
            <span>{{ stockSymbol.description }} ({{ stockSymbol.displaySymbol }}) </span>
        </div>
    </mat-card-title> -->
    <mat-card-content>
        <div fxLayout="row">
            <div fxLayout="column">
                <div>{{ getMonthByID(stockDetails.month) }}</div>
                <div> Change: {{ stockDetails.change > 0 ? '+' + stockDetails.change : stockDetails.change}} </div>
                <div>MSPR: {{stockDetails.mspr }} </div>
            </div>
            <div layout="column" fxFlex="20%">
                <span *ngIf="!stockChanged"><mat-icon class="ember"> arrow_downward </mat-icon> </span>
               <span *ngIf="stockChanged"> <mat-icon class="success"> arrow_upward </mat-icon> </span>
            </div>
        </div>
    </mat-card-content>
</mat-card>