<div class="container">
    <mat-card *ngIf="stockQuoteData">
        <mat-card-title>
            <div fxLayout="row" class="header">
                <span> {{ stockSymbol.description }} ({{ stockSymbol.displaySymbol }}) </span>
                <mat-icon (click)="onRemove()" class="closeBtn">close</mat-icon>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div fxLayout="row">
                <div fxLayout="column" fxFlex="20%">
                    <div>Change today: {{stockQuoteData.d > 0 ? '+' + stockQuoteData.d : '-'+stockQuoteData.d}} </div>
                    <div>Current price: {{stockQuoteData.c | currency: 'USD':'symbol':'3.2-2'}} </div>
                </div>
                <div fxLayout="column" fxFlex="20%">
                    <div>Opening price: {{stockQuoteData.o | currency: 'USD':'symbol':'3.2-2'}} </div>
                    <div>High price: {{stockQuoteData.h | currency: 'USD':'symbol':'3.2-2'}} </div>
                </div>
                <div>
                    <span *ngIf="!stockChanged">
                        <mat-icon class="ember"> arrow_downward </mat-icon>
                    </span>
                    <span *ngIf="stockChanged">
                        <mat-icon class="success"> arrow_upward </mat-icon>
                    </span>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="gotoSentiment()">Go to social sentiment details</button>
        </mat-card-actions>
    </mat-card>
</div>