<div class="searchContainer">
    <mat-card>
        <mat-card-content>
            <span>Enter the symbol of a stock to track(i.e. AAPL, TSLA, GOOGL)</span>
            <div fxLayout="row">
                <div fxFlex="25">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Enter the symbol.." [formControl]="stockSymbol" autocomplete="false" required  minlength="3">
                </mat-form-field>
                <mat-error *ngIf="stockSymbol.invalid && stockSymbol.touched">
                    Invalid stock symbol
                </mat-error>
                </div> 
                <div fxFlex="25">
                    <button [disabled]="stockSymbol.invalid && stockSymbol.touched" mat-raised-button color="primary" (click)="searchQuote()">Track Stock</button>
                </div>
            </div>
            <br />
            <div layout="column">
                <div *ngFor="let sQuote of stockQuoteData; index as i">
                <app-stock-quote [stocks]="sQuote" (onRemoveEvent)="onRemoveQuote($event)" [currentIndex]="i">
                </app-stock-quote>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>